In [1]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup
import numpy as np
import concurrent.futures

In [4]:
df = pd.DataFrame()
prices = pd.DataFrame()

df = pd.read_csv('traded_symbol.csv')
df = df.drop(['Unnamed: 0'] , axis = 1)
df = df.drop(labels = range(850,1793) , axis = 0)

In [10]:
headers = {'User-Agent' : 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36'}

In [12]:
symbols = []
for symbol in df['Symbol']:
    symbols.append(symbol)
urls = []

for symbol in symbols:
    url = f"https://finance.yahoo.com/quote/{symbol}.NS/history?p={symbol}.NS"
    urls.append(url)
urls

In [14]:
def prices(url):
    a = []
    x = url.rpartition('quote/')
    y = x[-1].rpartition('.NS/')
    column = y[0]
    df1[column] = ''
    count = 0
    days = 1
    
    r = requests.get(url , headers = headers)
    soup = BeautifulSoup(r.text, 'html.parser')
    price = soup.find('table' , {'class' : "W(100%) M(0)"})
    if(len(price)>0):
        price1 = price.find_all('tr')
        if(len(price1) > days):
            for i in price1[1:2]:
                x = i.find_all('span')
                if(len(x) == 7 ):
                    a.append(x[5].text)
                else:
                    count = count+1
                    
            k = 0
            
            while(k<count):
                w = price1[days + k].find_all('span')
                if(len(w) == 7 ):
                    a.append(w[5].text)
                    k+=1
                else:
                    days = days + 1
                
                
                


            for i in range(0,len(a)):
                df1.loc[i,column] = a[i]
            a.clear()

In [18]:
df1 = pd.DataFrame()

In [20]:
df1

,RELIANCE,TCS,HDFCBANK,INFY,HINDUNILVR,HDFC,ICICIBANK,KOTAKBANK,SBIN,BAJFINANCE,...,GODREJIND,SANOFI,BATAINDIA,COFORGE,APLAPOLLO,ESCORTS,ABFRL,SCHAEFFLER,BHEL,SUNDRMFAST
0,"2,425.60","3,791.40","1,568.60","1,691.60","2,810.65","2,830.10",720.25,"1,817.85",432.30,"7,430.65",...,559.75,"8,204.35","1,737.75","5,114.95","1,879.50","1,375.95",214.40,"7,379.50",55.65,896.70